@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

.bodyContainer {
  display: grid;
  grid-template-rows: 40px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
}

.main {
  display: flex;
  flex-direction: column;
}
